.maindiv5{
    display: flex;
     flex-direction: column; 
     justify-content: space-between; 
}

#header{
     background-color: burlywood;
     position: "fixed";
     height: 70px;
     display: flex;
}

#fundoo1{
    font-size: xx-large;
    margin-top: 7px;
    display: flex;
    /* align-items: flex-start; */
    align-content: center;
    align-items: center;
}

#flabel{
    color:blue;
}

#ulabel{
    color:red;
}

#nlabel{
    color:#FFC300 ;
}

#dlabel{
    color:blue;
}

#olabel{
    color:green;
}

#o2label{
    color:red;
}

#textAdmin{
    font-size: xx-large;
    color: black;
    font-family: -webkit-pictograph;
    margin-top: 8px;
}

#firstdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logbutton{
    margin-top: 16px;
}

.mainbody{
    height: auto;
    width: 100%;
    margin-top: 71px;
    background-color: white;
}

#maindata{
    height: auto;
    width: 80%;
    padding: 60px;
   margin:  auto auto;
   margin-top: 80px; 
   /* background-color: white; */
    /* overflow-y: scroll; */
}

#basic_advance{
    height: 170px;
    width: 50%;
    margin-left: 335px;
    margin-top: 35px;
    background-color:#5f6368;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#basic{
    height: 0px;
    width: 37%;
    margin-left: 30px;
    margin-top: 25px;
    padding: 60px;
    background-color: grey;;
    border-radius: 15px;
}


#advance{
    height: 0px;
    width: 37%;
    margin-right: 30px;
    margin-top: 25px;
    padding: 60px;
    background-color: grey;
    border-radius: 15px;
}

#basictext{
    margin-top: -45px;
}

#advancetext{
    margin-top: -45px;
}

.data1{
    align-self: flex-end;
    height: 40px;
    font-size: large;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(202, 205, 207);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -80px;
}

#pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#paginate{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

/* @media only screen and (max-width: 499px) {

    #basic_advance{
        margin-left: 110px;  
    }
    .mainbody{
        width: 124%;
    }

    #basic{
        height: 2px;
        width: 25%;
        margin-left: 86px;
        margin-top: 43px;
        padding: 24px;
        background-color: grey;
        border-radius: 15px;
    }
#advance {
    height: 2px;
    width: 23%;
    margin-right: 89px;
    margin-top: 43px;
    padding: 26px;
    background-color: grey;
    border-radius: 15px;
}
} */

/* @media only screen and (min-width: 500px) {

    #basic_advance{
        margin-left: 200px;  
    }
     .mainbody{
        width: 124%;
    }

    #basic{
        height: 2px;
        width: 25%;
        margin-left: 86px;
        margin-top: 43px;
        padding: 24px;
        background-color: grey;
        border-radius: 15px;
    }
#advance {
    height: 2px;
    width: 23%;
    margin-right: 89px;
    margin-top: 43px;
    padding: 26px;
    background-color: grey;
    border-radius: 15px;
}
} */
